<div class="container">
  <div class="row">
    <div class="col-md-6">
      <img *ngIf="produto.nomeArquivo" src="../../../../../arquivos/{{produto.nomeArquivo}}"
           title="{{produto.nome}}" class="img-fluid">
      <img *ngIf="!produto.nomeArquivo" src="/assets/no-image.png" title="{{produto.nome}}" class="img-fluid">
    </div>
    <div class="col-md-6">
      <div class="row mb-4"> <h5> {{produto.nome}}</h5></div>
      <div class="row mb-4"> {{produto.descricao}}</div>
      <div class="row mb-4"> <h5 class="text-danger"> {{produto.preco | currency:'BRL':'symbol':'0.2-2':'pt'}}</h5></div>
      <div class="row mb-4">
        <button class="btn btn-warning" (click)="comprar()">Adicionar ao carrinho</button>
      </div>
    </div>
  </div>

</div>
