Html da loja de pesquisa de produtos
<div class="album py-2 bg-light">
  <div class="container">

    <div class="row">

      <div class="col-md-4" *ngFor="let p of produtos">

        <div class="card mb-4 shadow-sm">
          <img *ngIf="p.nomeArquivo" src="../../../../../arquivos/{{p.nomeArquivo}}"
               title="{{p.nome}}" class="img-thumbnail">
          <img *ngIf="!p.nomeArquivo" src="/assets/no-image.png" title="{{p.nome}}" class="img-thumbnail">

          <div class="card-body">
            <h6 class="card-text">{{p.nome}}</h6>
            <div class="card-text">{{p.descricao}}</div>
            <h5 class="card-text">{{p.preco}}</h5>            
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
